@font-face {
  font-family: "AlloyInk";
  src: url("fonts/AlloyInk/AlloyInk-nRLyO.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
p {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 20px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
}
body {
  background: linear-gradient(
    #c5eafe,
    #5aa8da,
    #fff679,
    #fdef2c,
    #ffc11d,
    #f89419
  );
  position: relative;
  z-index: 1;
}
body::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: url("OrnamenWeb/awanangin.png");
  background-color: #ffffff3f;
  background-repeat: repeat-y;
  background-position: center;
  background-size: contain;
  z-index: -2;
}
.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 100px 25px;
}
img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.section-title {
  font-size: 2.5rem;
  font-family: "AlloyInk";
  text-align: center;
  font-weight: 700;
}
.navbar {
  background-color: #ffffff28;
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
  height: 66px;
  position: fixed;
  width: 100%;
  z-index: 1000;
}
.navbar::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  z-index: -1;
}
.navbar .div-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar .div-logo img {
  width: 58px;
  height: auto;
}
.navbar .div-menu {
  background-color: #ffffff57;
  color: #ffffff;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 66px;
  left: 150%;
  transition: 0.5s ease;
  overflow: hidden;
  border-top: 5px solid #5aa8da;
}
.navbar .div-menu::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  z-index: -1;
}
.navbar .div-menu.active {
  left: 0;
}
.navbar .div-menu .menu ul li {
  text-align: center;
  margin: 30px 0;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar .div-menu .menu ul li a {
  color: #5aa8da;
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  height: 33px;
  width: fit-content;
  position: relative;
  overflow: hidden;
}
.navbar .div-menu .menu ul li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  top: 90%;
  left: 0;
  background: #5aa8da;
  transition: 0.2s;
}
.navbar .div-menu .menu ul li a:hover:after {
  width: 100%;
}
.navbar .div-hamburger {
  width: 100%;
  max-width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar .div-hamburger button {
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  width: 36px;
  height: 36px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.navbar .div-hamburger button.active {
  border-radius: 50%;
}
/* .navbar .div-hamburger button:hover {
  background-color: #ffffff;
} */
.navbar .div-hamburger button .line {
  /* position: relative; */
  height: 2px;
  background: #5aa8da;
  display: block;
  width: 20px;
  margin: 3px 0;
  transition: 0.5s;
  transform-origin: center;
}
.navbar .div-hamburger button.active .line:nth-child(1) {
  transform: translateY(8px) rotate(-45deg);
}
.navbar .div-hamburger button.active .line:nth-child(2) {
  width: 0;
  transform: rotate(-45deg);
}
.navbar .div-hamburger button.active .line:nth-child(3) {
  transform: translateY(-8px) rotate(45deg);
}

/* header */
#header {
  /* background: url("OrnamenWeb/awanangin.png");
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1; */
}
/* #header::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #ffffff8f;
  z-index: -1;
} */
#header .header {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 1rem;
  grid-template-areas:
    "wct wct wct wct wct wct"
    "wct wct wct wct wct wct"
    "img img img img img img"
    "img img img img img img"
    "img img img img img img"
    "img img img img img img"
    "cd cd cd cd cd cd"
    "cd cd cd cd cd cd";
}
#header .header .div-welctag {
  grid-area: wct;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
#header .header .div-welctag .welcome {
  font-family: "AlloyInk";
  /* margin-top: 20px; */
  color: #5aa8da;
  /* text-shadow: 0 0 5px #ffffff; */
  font-size: 2.5rem;
  font-weight: 700;
}
#header .header .div-welctag .tagline {
  text-transform: uppercase;
  margin-top: 7.5px;
  font-size: calc(2.5rem / 1.618);
  font-weight: 900;
  /* font-family: "AlloyInk"; */
}
#header .header .div-mascot-img {
  grid-area: img;
  height: auto;
  display: flex;
  justify-content: center;
}
#header .header .div-mascot-img img {
  max-width: 150px;
}
#header .header .div-countdown {
  height: 100%;
  max-width: 400px;
  grid-area: cd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
#header .header .div-countdown .short-notification {
  font-size: 1rem;
  font-weight: 800;
  text-align: center;
}
#header .header .div-countdown .countdown {
  display: flex;
  width: 100%;
  margin-top: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
}
#header .header .div-countdown .countdown > div {
  position: relative;
}
#header .header .div-countdown .countdown > div .digits {
  font-family: "AlloyInk";
  font-size: 3rem;
  position: absolute;
  top: -10%;
  left: 50%;
  transform: translateX(-50%);
  color: #7f6331;
}
#header .header .div-countdown .countdown > div .image-block {
  max-width: 60px;
}
#header .header .div-countdown .countdown > div .bottom-digits {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 600;
}
/* end header */

/* about */
#about {
  /* background: url("OrnamenWeb/awanangin.png");
  background-position: 50% 70%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1; */
}
#about .about {
  flex-direction: column;
}
#about .about .div-about-omits {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 0.5rem;
  /* grid-template-areas:
    "ic ic ic sct sct sct"
    "ic ic ic d1 d1 d1"
    "ic ic ic d1 d1 d1"
    "d2 d2 d2 d2 d2 d2"
    "d2 d2 d2 d2 d2 d2"
    "d2 d2 d2 d2 d2 d2"; */
  grid-template-areas:
    "sct sct sct sct sct sct"
    "ic ic ic ic ic ic"
    "ic ic ic ic ic ic"
    "ic ic ic ic ic ic"
    "d1 d1 d1 d1 d1 d1"
    "d1 d1 d1 d1 d1 d1"
    "d1 d1 d1 d1 d1 d1"
    "d1 d1 d1 d1 d1 d1"
    "d1 d1 d1 d1 d1 d1"
    "d1 d1 d1 d1 d1 d1"
    "d2 d2 d2 d2 d2 d2"
    "d2 d2 d2 d2 d2 d2"
    "d2 d2 d2 d2 d2 d2"
    "d2 d2 d2 d2 d2 d2"
    "d2 d2 d2 d2 d2 d2"
    "d2 d2 d2 d2 d2 d2";
}
#about .about .div-about-omits .section-title {
  grid-area: sct;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#about .about .div-about-icon {
  grid-area: ic;
  text-align: center;
}
#about .about .div-about-description-1 {
  grid-area: d1;
}
#about .about .div-about-description-2 {
  grid-area: d2;
  text-align: center;
}
#about .about .div-about-description-2 h1 {
  font-weight: 700;
  font-size: calc(1.25rem * 1.618);
  line-height: 20px;
}
#about .about .div-about-description-2 .div-achievement {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  gap: 20px;
  /* flex-direction: column; */
}
#about .about .div-about-description-2 .div-achievement .achievement-box {
  margin: 10px 0;
  max-width: 200px;
  padding: 20px;
  border: 5px solid #8669b3;
  border-radius: 5px;
  /* background: #ffffff34; */
  backdrop-filter: blur(3px);
}
#about .about .div-about-description-2 .div-achievement i,
#about .about .div-about-description-2 .div-achievement .achievement-box-icon {
  font-size: calc(1.25rem * 1.618 * 1.618);
  color: #ffc11d;
}
#about .about .div-about-description-2 .div-achievement .achievement-box-icon {
  padding: 10px 0;
}
#about
  .about
  .div-about-description-2
  .div-achievement
  .achievement-box-shortdesc {
  color: #8669b3;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 20px;
}

#about .about .div-about-icon img {
  max-width: 300px;
  object-fit: contain;
  /* height: au; */
}
#about .about p {
  text-align: justify;
}
#about .about ol {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 20px;
  padding: 0 15px;
}
#about .about .div-competition {
  width: 100%;
}
#about .about .div-competition .competition {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#about .about .div-competition .competition .competition-box {
  margin: 10px 0;
  background: #5aa8da;
  border-radius: 5px;
  padding: 10px;
  color: #ffffff;
  max-width: 300px;
}
#about .about .div-competition .competition .competition-box h1 {
  font-weight: 800;
  color: #ffc11d;
}
#about
  .about
  .div-competition
  .competition
  .competition-box
  .competition-box-description {
  margin-top: 10px;
}
/* end about */

/* subevent */
#subevent {
  /* background: url("OrnamenWeb/awanangin.png");
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1; */
}
/* #subevent::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #ffffff8f;
  z-index: -1;
} */
#subevent .subevent {
  flex-direction: column;
}
#subevent .subevent .section-title {
  margin-bottom: 20px;
}
#subevent .subevent .div-subevents-list {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}
#subevent .subevent .div-subevent-box {
  border-radius: 5px;
  padding: 10px;
  background: #5aa8da;
  max-width: 250px;
}
#subevent .subevent .div-subevent-box h1 {
  font-weight: 800;
  color: #ffc11d;
}
#subevent .subevent .div-subevent-box .subevent-box-description {
  margin-top: 10px;
}
#subevent .subevent .div-subevent-box .subevent-box-description p {
  color: #ffffff;
  text-align: justify;
}
/* end subevent */

/* timeline */
#timeline {
  /* background: url("OrnamenWeb/awanangin.png");
  z-index: -1; */
}
#timeline .timeline {
  flex-direction: column;
}
#timeline .timeline .div-timeline {
  position: relative;
  width: 100%;
  margin-top: 20px;
  /* border-left: 5px solid #f89419; */
}
#timeline .timeline .div-timeline::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 100%;
  background: #f89419;
  top: 0;
  left: -5px;
  z-index: -1;
  /* transform: translateX(-50%); */
}
#timeline .timeline .div-timeline .div-timeline-area {
  position: relative;
}
#timeline .timeline .div-timeline .timeline-area {
  background: url("OrnamenWeb/kayu-01.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 120%;
  /* max-width: 250px; */
  padding: 10px 20px;
  position: relative;
  margin: 5px 0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
#timeline .timeline .div-timeline .timeline-area::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background: #7f6331;
  border: 3px solid #f89419;
  top: 50%;
  z-index: 1;
  border-radius: 50%;
  left: -1.25px;
  transform: translate(-50%, -50%);
}
#timeline .timeline .div-timeline .timeline-area .timeline-date {
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 10px;
  /* display: inline-block; */
  width: max-content;
}
#timeline .timeline .div-timeline .timeline-area .timeline-box {
  color: #ffc11d;
  font-size: 1.25rem;
  font-weight: 700;
}
/* end timeline */

/* contact */
#contact {
  /* background: url("OrnamenWeb/awanangin.png");
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1; */
}
/* #contact::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #ffffff8f;
  z-index: -1;
} */
#contact .contact {
  flex-direction: column;
}
#contact .contact .div-contact-link-map {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#contact .contact .div-contact-link-map .div-map {
  /* margin-bottom: 20px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#contact .contact .div-contact-link-map .div-map .map-pc {
  display: none;
}
#contact .contact .div-contact-link-map .div-address-link .box {
  font-weight: 800;
  font-size: 1.25rem;
  line-height: 20px;
  max-width: 400px;
  margin: 50px 0;
  border: 5px solid #7f6331;
  padding: 10px;
  height: 100px;
  position: relative;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#contact .contact .div-contact-link-map .div-address-link .box .box-title {
  font-size: 2rem;
  font-family: "AlloyInk";
  background: #ffc11d;
  border-radius: 5px;
  text-align: center;
  position: absolute;
  /* width: 100%;
  height: 100%;
  max-width: 400px;
  max-height: 100px; */
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 1s ease;
}
/* #contact
  .contact
  .div-contact-link-map
  .div-address-link
  .box:hover
  .box-title {
  max-width: 200px;
  max-height: 40px;
  left: 50%;
  top: 0%;
} */

#contact
  .contact
  .div-contact-link-map
  .div-address-link
  .address
  .box-address {
  text-align: center;
}
#contact
  .contact
  .div-contact-link-map
  .div-address-link
  .socmed
  .box-socmed
  ul {
  display: flex;
  justify-content: space-evenly;
  /* flex-wrap: wrap; */
}

#contact
  .contact
  .div-contact-link-map
  .div-address-link
  .socmed
  .box-socmed
  ul
  i {
  font-size: 2.5rem;
}
#contact
  .contact
  .div-contact-link-map
  .div-address-link
  .socmed
  .box-socmed
  ul
  li
  .fa-telegram-plane {
  color: #0088cc;
}
#contact
  .contact
  .div-contact-link-map
  .div-address-link
  .socmed
  .box-socmed
  ul
  li
  .fa-instagram {
  background-image: linear-gradient(45deg, #ffdf9e, #e56969, #8a49a1);
  color: transparent;
  -webkit-background-clip: text;
}
#contact
  .contact
  .div-contact-link-map
  .div-address-link
  .socmed
  .box-socmed
  ul
  li
  .fa-line {
  color: #1cc31c;
}
#contact
  .contact
  .div-contact-link-map
  .div-address-link
  .socmed
  .box-socmed
  ul
  li
  .fa-twitter {
  color: #4ecce8;
}
#contact
  .contact
  .div-contact-link-map
  .div-address-link
  .socmed
  .box-socmed
  ul
  li
  .fa-facebook {
  color: #1da0f0;
}
#contact
  .contact
  .div-contact-link-map
  .div-address-link
  .socmed
  .box-socmed
  ul
  li
  .fa-envelope {
  color: #d54b3e;
}
/* end contact */

/* footer */
.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 20px;
  background: #7f6331;
}
/* end footer */

@media (min-width: 500px) {
  /* #header .header .div-mascot-img {
    max-width: 300px;
  } */
  .container {
    padding: 100px 50px;
  }
  #header .header {
    padding: 100px 50px;
    grid-template-areas:
      "wct wct wct img img img"
      "wct wct wct img img img"
      "cd cd cd img img img"
      "cd cd cd img img img";
  }
  #header .header .div-welctag {
    text-align: initial;
    align-items: flex-start;
  }
  #header .header .div-mascot-img img {
    max-width: 250px;
  }
  #header .header .div-countdown {
    align-items: flex-start;
  }
}
@media (min-width: 700px) {
  p,
  ol li,
  ul li {
    font-size: 1.5rem;
    font-weight: 700;
  }
  #about .about .div-about-omits {
    grid-template-areas:
      "ic ic ic sct sct sct"
      "ic ic ic d1 d1 d1"
      "ic ic ic d1 d1 d1"
      "d2 d2 d2 d2 d2 d2"
      "d2 d2 d2 d2 d2 d2"
      "d2 d2 d2 d2 d2 d2";
  }
  #about .about .div-about-omits .section-title {
    justify-content: flex-end;
    align-items: flex-start;
  }
  #about .about .div-about-description-2 h1 {
    font-weight: 700;
    font-size: calc(1.5rem * 1.618);
    margin-bottom: 10px;
  }
  #timeline .timeline .div-timeline::after {
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 110%;
    top: -5%;
    background: url("OrnamenWeb/kayu.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: round;
  }
  #timeline .timeline .div-timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
  }
  #timeline .timeline .div-timeline .div-timeline-area .timeline-area {
    background: none;
    padding: 10px 45px;
    max-width: 300px;
    min-height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #timeline .timeline .div-timeline .div-timeline-area .timeline-area::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 30%;
    background: url("OrnamenWeb/batangkayu2.png");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
  }
  #timeline
    .timeline
    .div-timeline
    .div-timeline-area:nth-of-type(even)
    .timeline-area::after {
    left: -25%;
  }
  #timeline
    .timeline
    .div-timeline
    .div-timeline-area:nth-of-type(odd)
    .timeline-area::after {
    right: -25%;
    transform: rotateY(180deg);
  }
  #timeline
    .timeline
    .div-timeline
    .div-timeline-area:nth-of-type(even)
    .timeline-area {
    transform: translateX(50.5%);
  }
  #timeline
    .timeline
    .div-timeline
    .div-timeline-area:nth-of-type(odd)
    .timeline-area {
    transform: translateX(-50.5%);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    text-align: right;
  }
  #timeline .timeline .div-timeline .div-timeline-area .timeline-area::before {
    display: none;
  }
  #timeline .timeline .div-timeline .timeline-area .timeline-date {
    position: absolute;
    top: 0%;
    font-size: 1.5rem;
    transform: translate(-50%, -50%);
    font-weight: 600;
    padding: 5px;
    border-radius: 3px;
    background: url("OrnamenWeb/kayu.jpeg");
    background-size: center;
    background-repeat: no-repeat;
    background-position: center;
  }
  #timeline
    .timeline
    .div-timeline
    .div-timeline-area:nth-of-type(odd)
    .timeline-area
    .timeline-date {
    left: 50%;
  }
  #timeline
    .timeline
    .div-timeline
    .div-timeline-area:nth-of-type(even)
    .timeline-area
    .timeline-date {
    right: 0%;
  }
  #timeline .timeline .div-timeline .timeline-area .timeline-box {
    font-size: 1.5rem;
    font-weight: 800;
  }
  /*#timeline .timeline .div-timeline .timeline-area:nth-of-type(even) {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  #timeline .timeline .div-timeline .timeline-area:nth-of-type(even)::before {
    left: initial;
    transform: translateY(-50%);
    right: -15px;
  } */
}
@media (min-width: 800px) {
  #header .header {
    padding: 100px;
  }
  .section title {
    font-size: calc(1.75rem * 1.618);
  }
  #header .header .div-welctag .welcome {
    font-size: calc(1.75rem * 1.618);
  }
  #header .header .div-welctag .tagline {
    font-size: 1.75rem;
  }
  #about .about .div-about-omits {
    grid-template-areas:
      "ic ic sct sct sct sct"
      "ic ic d1 d1 d1 d1"
      "ic ic d1 d1 d1 d1"
      "d2 d2 d2 d2 d2 d2"
      "d2 d2 d2 d2 d2 d2"
      "d2 d2 d2 d2 d2 d2";
  }
  #contact .contact .div-contact-link-map .div-map .map-pc {
    display: initial;
  }
  #contact .contact .div-contact-link-map .div-map .map-phone {
    display: none;
  }
}
@media (min-width: 1000px) {
  .navbar .div-menu {
    background-color: transparent;
    backdrop-filter: none;
    width: 70%;
    height: 66px;
    position: initial;
    border: none;
    border-radius: 0;
  }
  .navbar .div-menu .menu {
    height: 100%;
  }
  .navbar .div-menu .menu ul {
    display: flex;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
  }
  .navbar .div-menu .menu ul li {
    /* text-align: center; */
    margin: 0;
    padding: 0 30px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
  }
  .navbar .div-menu .menu ul li a {
    font-size: 15px;
    line-height: 24px;
    font-weight: 600;
  }
  .navbar .div-menu .menu ul li a::after {
    top: 95%;
  }
  .navbar .div-hamburger {
    display: none;
  }
  #header .header {
    grid-row-gap: 2rem;
    grid-template-areas:
      "wct wct wct wct img img"
      "wct wct wct wct img img"
      "cd cd cd cd img img"
      "cd cd cd cd img img";
  }
  .section-title {
    font-size: calc(2rem * 1.618);
  }
  #header .header .div-welctag .welcome {
    font-size: calc(2rem * 1.618);
  }
  #header .header .div-welctag .tagline {
    font-size: 2rem;
  }
  #header .header .div-countdown .short-notification {
    font-size: 1.5rem;
  }
  #header .header .div-countdown .countdown {
    margin-top: 50px;
  }
  #header .header .div-countdown .countdown > div .digits {
    font-size: calc(2rem * 1.618 * 1.618);
    top: -30%;
    left: 50%;
  }
  #header .header .div-countdown .countdown > div .image-block {
    max-width: 80px;
  }
  #header .header .div-countdown .countdown > div .bottom-digits {
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 600;
  }
}
@media (min-width: 1200px) {
  #header .header {
    padding: 100px 100px;
  }
  .section-title {
    font-size: calc(2rem * 1.618 * 1.618);
  }
  #header .header .div-welctag .welcome {
    font-size: calc(2rem * 1.618 * 1.618);
  }
}
